apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-java-s3-dataset-app
  labels:
    app: react-java-s3-dataset-app
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: react-java-s3-dataset-app
  template:
    metadata:
      labels:
        app: react-java-s3-dataset-app
    spec:
      containers:
      - name: react-java-s3-dataset-app
        image: react-java-s3-dataset-app
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 20
        env:
          - name: PORT
            value: "8080"
          - name: APPLICATION_NAME
            value: "react-java-s3-dataset-app"
